  body {
   font-family: Verdana;
    color: #776e65;
    padding:0;
  }

  #numbers_container {
    margin-top: 25px;
}

#operands_container {
    margin-top: 25px;
}

.display_level_container {
    margin-top: 10px;
}

.select_container {
    padding:0;
    margin:20px 10% 0px 10%;
    width:80%;
}

  .display_text { 
  font-size: 14px;
  text-align: center;
 }

.wrap {
    text-align: center;
    width:100%;
}
.center-block {
    display: inline-block;
}

  .btn {
	padding: 12px 21px;
	border: 0 none;
        font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.btn.round {
	border-radius: 24px;
}

#info_display {
    margin-top: 3px;
}

#display_hint {
margin: auto;
margin-top: 10px;
color: indianred;
}

.modal_play_text {
margin-top: 8px;
}

#retry_text {
    font-size: 18px;
    color:darkorange;
}

#win_text {
    font-size: 18px;
    color:green;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) { 
  .btn {
	padding: 16px 27px;
	border: 0 none;
        font-size: 22px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.btn.round {
	border-radius: 36px;
}

 .display_text {
      font-size: 18px;
  }
  
 .select_container {
    padding:0;
    margin: 15px 26% 0px 26%;
    width:49%;
}

  }

.page-header {margin:0;
             padding:0;
             border:none;

}

.navbar {
    margin:0;
    border:none;
}

h3 {
  color: #1f2f8a;    
  font-family: Verdana;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  display: block;
  text-align: center;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding:0;
}

.number {
    margin: 0px 3px 0px 3px;
    font-weight: 800;
}

.operand {
    margin: 0px 6px 0px 6px;
    font-weight: 900;
}

#restart {
    margin-top: 50px;
}



#hint_sol {
    margin-top: 25px;
    display: none;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#score_container {
  margin: 0 4px 20px 4px;
  padding: 0;
  text-align: center; }

#cur_score::after {
    content: "Timer";
}

#current_score {
    color:orangered;
}

#tot_score::after {
    content: "Total";
}

#hi_score::after {
    content: "Best";
}

.score::after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da;
}
.score {
    position: relative;
    display: inline-block;
    background: #bbada0;
    padding: 15px 25px;
    font-size: 25px;
    height: 25px;
    line-height: 47px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    margin-top: 8px;
    text-align: center;
}

